{% set main_attributes = region_attributes.main %}

{% if settings.region_widths =='equal' %}

  {% set left_sidebar_attributes = region_attributes.left_sidebar.addClass(['flex-md-4-of-12', 'flex-lg-4-of-12', 'flex-xl-4-of-12', 'flex-2xl-4-of-12']) %}
  {% set right_sidebar_attributes = region_attributes.right_sidebar.addClass(['flex-md-4-of-12', 'flex-lg-4-of-12', 'flex-xl-4-of-12', 'flex-2xl-4-of-12']) %}

  {% if content.left_sidebar and content.right_sidebar %}
    {% set main_attributes = main_attributes.addClass(['flex-md-4-of-12', 'flex-lg-4-of-12', 'flex-xl-4-of-12', 'flex-2xl-4-of-12']) %}
  {% elseif content.left_sidebar or content.right_sidebar %}
    {% set main_attributes = main_attributes.addClass(['flex-md-6-of-12', 'flex-lg-6-of-12', 'flex-xl-6-of-12', 'flex-2xl-6-of-12']) %}
  {% endif %}

{% else %}

  {% set left_sidebar_attributes = region_attributes.left_sidebar.addClass(['flex-md-3-of-12', 'flex-lg-3-of-12', 'flex-xl-3-of-12', 'flex-2xl-3-of-12']) %}
  {% set right_sidebar_attributes = region_attributes.right_sidebar.addClass(['flex-md-3-of-12', 'flex-lg-3-of-12', 'flex-xl-3-of-12', 'flex-2xl-3-of-12']) %}

  {% if content.left_sidebar and content.right_sidebar %}
    {% set main_attributes = main_attributes.addClass(['flex-md-6-of-12', 'flex-lg-6-of-12', 'flex-xl-6-of-12', 'flex-2xl-6-of-12']) %}
  {% elseif content.left_sidebar or content.right_sidebar %}
    {% set main_attributes = main_attributes.addClass(['flex-md-9-of-12', 'flex-lg-9-of-12', 'flex-xl-9-of-12', 'flex-2xl-9-of-12']) %}
  {% endif %}

{% endif %}


<div{{ attributes.addClass(['flex-container', settings.section_width]) }}>
  {% if content.left_sidebar %}
    <aside{{ left_sidebar_attributes }}>
      {{ content.left_sidebar }}
    </aside>
  {% endif %}

  <section{{ main_attributes }}>
    {% block main_content %}
      {{ content.main }}
    {% endblock %}
  </section>

  {% if content.right_sidebar %}
    <aside{{ right_sidebar_attributes }}>
      {{ content.right_sidebar }}
    </aside>
  {% endif %}

</div>
