{% extends "@hs_layouts/three-column.html.twig" %}

{% block main_content %}

  {% if content.top %}
    <div{{ region_attributes.top.addClass(['top']) }}>
      {{ content.top }}
    </div>
  {% endif %}

  {% if content.image %}
    <div{{ region_attributes.image.addClass(['image-wrapper', settings.image_float ?: 'align-left']) }}>
      {{ content.image }}
    </div>
  {% endif %}

  <div class="main {% if content.main_below and content.main_above %}break-below-top{% endif %}">
    {% if content.main_above %}
      <div{{ region_attributes.main_above.addClass(['main-above']) }}>
        {{ content.main_above }}
      </div>
    {% endif %}

    {% if content.main_below %}
      <div{{ region_attributes.main_below.addClass(['main-below']) }}>
        {{ content.main_below }}
      </div>
    {% endif %}
  </div>

{% endblock %}
